.navbar__items__item {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
    height: 50px;
    width: 20%;
    padding-top: 25px;
    align-self: flex-end;
    color: var(--aqua-fortaleza);
    transition-duration: .5s;
}