.navbar__logo {
    overflow: hidden;
    width: 35%;
    height: 150px;
    min-width: 420px;
}

.navbar__logo__aguayoContainer {
    width: 50%;
    height: 100%;
}

.navbar__logo__aguayoContainer__image {
    width: 250px;
    height: 100px;
    rotate: -70deg;
    position: relative;
    bottom: -20%;
}

.navbar__logo__aguayoContainer__logo15 {
    border-radius: 50px;
    box-shadow: 15px 15px 15px var(--aqua-fortaleza);
    transform: scale(0.26, 0.20) translateX(-73%) translateY(-1675px);
    position: absolute;
    z-index: 1;
}