.footer__info__item{
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__info__item__icon{
    width: 25px;
    height: 25px;
}

.footer__info__item__img{
    width: 100%;
    height: 100%;
}

.footer__info__item__text{
    font-size: 1.0em;
}

.footer__info__item__textContainer{
    width: 350px;
}