.instagramGallery{
    margin: 50px auto;
    max-width: 1300px;
    display: flex;
    gap: 15px 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 200px;
}