:root{
  --aqua-fortaleza: #2DD3C9;
  --elegant-font: "Kaushan Script";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
  width: 100%;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
