.instagramGalleryMessage{
    border: 3px solid #fff;
    width: fit-content;
    padding: 0px 50px;
}

.instagramGalleryMessage *{
    text-align: center;
    width: 100%;
    color: var(--aqua-fortaleza);
}

.instagramGalleryMessage__message__link{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    transition: 1s color;
}

.instagramGalleryMessage__message__link:hover{
    color: #777;
}

.instagramGalleryMessage__message__link__icon{
    background-color: #fff;
    width: 30px;
    height: 30px;
    transition: 1s background-color;
}

.instagramGalleryMessage__message__link:hover > .instagramGalleryMessage__message__link__icon{
    background-color: #777;
}